*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    font-family: sans-serif;


}

body{
    background-color: rgb(54, 95, 119);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:  rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 15px 50px;
    position: sticky;
    top: 0;
    z-index:100 ;
}

.logo{
    font-size: 18px;
    font-weight:bold ;
    letter-spacing: 5px;

    
}
.nav-links{
    list-style: none;
    display:flex;
    gap: 30px;
}  

 .nav-links a{
    color: rgb(230, 222, 222);
    text-decoration: none;
 }
 .nav-linksa{
    flex-direction: column;
    background-color: #7a1717;
    font-weight: 500;
    transition: color 0.3s ease ;

 }

 .nav-links a:hover{
    color: rgb(121, 0, 0);
    border-bottom: 2px solid rgb(155, 59, 59);
    padding-bottom: 2px;
 }
   @media(max-width: 767px){
    .nav-links{
       position: absolute;
       top: 60px;
       left:0;
       width:100%;
       background: black;
       flex-direction: column;
       align-items: center;
       gap:20px;
       padding: 20 , 0 ;
       display: none;
    }
    .menu-toggle:checked  +  .menu-icon + .nav-links{
        display: flex;
        animation: slidedown 0.3s ease;

    }

    }

   @keyframes slidedown {

    from{
        opacity: 0;
        transform: translateY(-10px);
    }
    to{
        opacity: 1;
        transform: translateY(0);

        .menu-icon{
    display: none;
    cursor: pointer;
    font-size: 20px;
   }
    }
   }

   .hero{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 60px 20px;
    background-color: rgb(250, 250, 250);
   }
   
   .hero-img{
    width:200px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid rgb(0, 0, 0);
   }

   .hero-text h1{
    font-size: 2em;
    color: black;
    margin-bottom: 18px;
   }

   .hero-text p{
    font-size: 1,1em;
    color: rgb(0, 0, 0);
    max-width: 500px;
    
   }
   .menu-toggle{
    display: none;
    
   }

   .menu-icon{
    display: none;
    cursor: pointer;
    font-size: 20px;
  }

   .projects{
    background-color: #196d70;
    padding: 70px 20px;
    text-align: center;

   }

   .projects h2{
    font-size: 2.5em;
    margin-bottom: 40px;
    color: black;
    position: relative;
    text-decoration: underline;

   }

   .project-contanier{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

   }
   .project-card{
    background-color: #617a7a;
    border-radius: 12px;
    box-shadow: 0 4px 10px black;
    overflow: hidden;
    width: 300px;
    cursor: pointer;
    margin: 15px;
    transform: transform 0.3s ease, box-shadow 0.3s ease;

   }

   .project-card:hover{
    transform: translateY(-8px);
    box-shadow: 0 8px 10px rgb(255, 255, 255);
   }

   .projects-card img{
    width: 100%;
    height: 300px;
    object-fit: cover;
   }

   .project-card h3{
    padding: 15px;
    font-size: 1.3em;
    color: #eeeeee;
    background: black;
    font-weight: 600;
   }

   .contact{
    background-color: rgb(255, 255, 255);
    padding: 80px 20px;
    text-align: center;
   }

  .contact h2{
    font-size: 2em;
    color: black;
    margin-bottom: 40px;
  }
  .contact-form{
    max-width: 600px;
    margin: 0 auto;
    background-color: rgb(218, 215, 215);
    border-radius: 12px;
    box-shadow: 0 5px 35px black;

  }

  .input-group{
    margin-bottom: 20px;
    text-align: left;
  }

  .imput-group label{
    display: block;
    font-weight:600 ;
    margin-bottom: 7px;

  }
  .input-group input,
  .input-group textarea{
    width:100%;
    padding:12px 15px;
    border:2px solid white;
    border-radius: 8px;
    font-size: 1em;
    font-family: inherit;
    transition: border 0,3 ease;

  }

  .input-group input:focus,
  .input-group textarea:focus{
    border-color: #020000;
    outline: none;
}

.input-group textarea{
    height: 140px;
    resize: none;
}

 .contact-btn{
    width:100%;
    padding: 14px;
    background: blue;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    font-size: 1.1em;
    transition: background 0,3 ease;


 }
 .contact-btn:hover{
    background: black;
    color: #000000;

 }
  



 @media(max-width : 767px){
    .contact-form{
        width: 95%;
        padding:20px;
    }




 }
    









    




